body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

div {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border: 2px solid royalblue;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 0 0 royalblue;
    width: 100px;
}


div:active {
    box-shadow: 0 5px 0 2px;
    top: 10px;
}
